# IDEs
.idea/

# Hugo
resources/
public/
content/outreach - DRAFT UNPUBLISHED/keenantalk2020/featured.jpg
content/outreach - DRAFT UNPUBLISHED/keenantalk2020/index.md
content/outreach - DRAFT UNPUBLISHED/storybook/featured.jpg
content/outreach - DRAFT UNPUBLISHED/storybook/index.md
content/outreach - DRAFT UNPUBLISHED/wspd2016-tiesthatbind/featured.jpg
content/outreach - DRAFT UNPUBLISHED/wspd2016-tiesthatbind/index.md
content/outreach - DRAFT UNPUBLISHED/wspd2017-casp/featured.jpg
content/outreach - DRAFT UNPUBLISHED/wspd2017-casp/index.md
content/outreach - DRAFT UNPUBLISHED/wspd2018-yds/featured.jpg
content/outreach - DRAFT UNPUBLISHED/wspd2018-yds/index.md
content/outreach - DRAFT UNPUBLISHED/wspd2019-video/featured.jpg
content/outreach - DRAFT UNPUBLISHED/wspd2019-video/index.md
